body{
   background: linear-gradient(white, #07d4db);
   font-family: 'Roboto Slab', serif;    
}

header{
   background-color: #07d4db;
   padding: 10px 0;
}

.caixa{
   position: relative;
   width: 940px;
   margin: 0 auto;
}

nav{
   position: absolute;
   top: 121px;
   right: 30px;
}

nav li{
   display: inline;
   margin: 0 0 0 25px;
}

nav a{
   text-transform: uppercase;
   color: #000000;
   font-size: 21px;
   font-weight: bold;
   text-decoration: none;
}

nav a:hover{
   color: #216592;
   text-decoration: underline;
}

main{
   width: 940px;
   margin: 0 auto;   
}

form{
   margin: 40px 0;
}

form label, form p{
   display: block;
   margin: 30px 0 0 0;
   font-size: 20px;
}

.radio{
   font-size: 15px;
   margin: 10px 0;
}

.input-padrao{
   display: block;
   width: 50%;
   margin: 5px 0 0 0;
   padding: 10px 10px;
   border: #9b9b9b 1px solid;
   border-radius: 10px;
   font-size: 15px;
}

.opcoes{
   margin: 10px 0;
}

.checkbox{
   margin: 20px 0 0 0;
}

.submit{
   width: 30%;   
   font-size: 15px;
   font-weight: bold;
   margin: 30px 0 0 100px;
   padding: 10px 10px;
   color: white;
   background-color: #357dad;   
   border-radius: 10px;
   border: none;  
}

.submit:hover{
   background-color: #075183; 
   cursor: pointer;
   transition: 1s /*all*/;
   transform: scale(1.2) /*rotate(360deg)*/; 
}

table{
   margin: 0 0 50px 100px; 
   background-color: white; 
   box-shadow: 10px 10px 15px 3px black;
}

thead{
   background-color: #216592;
   font-size: 20px;
   font-weight: bold;
   color: #ffffff;
}

th{
   border: 1px solid #216592;
   padding: 10px 15px;
   text-align: center;
   font-weight: bold;
}

tr, td{
   border: 1px solid #356f95;
   padding: 10px 15px;
   text-align: center;
}

tfoot{
   font-style: italic;
}

footer{
   background-color:  #006DFC ;   
   text-align: center;
   padding-top: 20px;
   padding-bottom: 30px;
   margin: 40px 0 0 0;
}

.copyright{
   color: #ffffff;
   font-size: 10px;
   margin-block-start: 0;
}